<li>
<article class="snippet">
    <img src="{{ post.data.image | url }}" alt="{{ post.data.imageAlt }}" class ="snippet__image">
    <h3 class="snippet__title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
    <p class="snippet__meta"> publicado en <span>{{ post.data.date | postDate }} </span> por <span>{{ post.data.author }}</span></p>
    <p class="snippet__body">{{ post.data.description }}</p>
    <a href="{{ post.url | url }}" class="btn btn--primary">Continuar leyendo</a>

</article>
</li>